.nav-comp {
    padding: 10px 20px;
    /* margin: 0 10px; */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: max-content;
}

.nav-comp.bordered {
    border: 2px solid #000;
}

.nav-comp.bg {
    background-color: rgba(255, 215, 0, 0.5);
}
